<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
		<title><%= gettext "page.title" %></title>
	  <!--SEO Meta Tags-->
	  <meta name="description" content="<%= gettext "page.description" %>" />
	  <meta name="keywords" content="<%= gettext "page.keywords" %>" />
	  <meta name="author" content="ChiliSoft Kft." />

	  <!--Mobile Specific Meta Tag-->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

	  <!--Favicon-->
	  <link rel="shortcut icon" href="img/logo/logo_icon.png" type="image/x-icon">
	  <link rel="icon" href="img/logo/logo_icon.png" type="image/x-icon">

	  <!-- Vendor Styles -->
	  <link rel="stylesheet" href="masterslider/style/masterslider.css" media="screen">

	  <!-- All Theme Styles including Bootstrap, FontAwesome, etc. compiled from styles.less-->
	  <link href="css/styles.css" rel="stylesheet" media="screen">

	  <!--Google Maps API-->
	  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5DLwPPVAz88_k0yO2nmFe7T9k1urQs84"></script>

	  <!--Modernizr / Detectizr-->
	  <script src="js/libs/modernizr.custom.js"></script>
	  <script src="js/libs/detectizr.min.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="header">
				<nav role="navigation">
					<ul class="nav nav-pills pull-right">
						<li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
					</ul>
				</nav>
				<span class="logo"></span>
			</header>

			<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
			<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

			<main role="main">
				<%= render @view_module, @view_template, assigns %>
			</main>

		</div> <!-- /container -->
		<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	</body>
</html>
